/* Write your CSS here */
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  font-size: 10px;
}
.duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47px;
}
p {
  margin: 0px;
}
.unList {
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.list {
  list-style-type: none;
  background-color: #d5e5f2;
  font-size: 8px;
  font-weight: bold;
  margin: 0px 5px;
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
}
